@import "tailwindcss";


@theme{
    --breakpoint-desktop:1105px;
    --breakpoint-tablet:901px;
    --breakpoint-mobile:621px
}

.width {
  max-width: 1440px;
  /* background-color: red; */
  margin-inline: auto;
}


body {
  font-family: "Poppins", sans-serif;
}